h1,
h2 {
  color: green;
  font-style: italic;
}

.person-item {
  color: blue;
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blogStyle {
  padding: 10px;
  border: solid;
  border-width: 1px;
  margin-bottom: 5px;
  width: 50%;
}
